@import '../../scss/_variables.scss';
@import '../../scss/_mixins.scss';

.navigation {
    background: $lightGrey;
    height: 60px;
    padding: 0 2rem;
    gap: 2rem;
    @include center;

    &__link {
        text-transform: uppercase;
        opacity: $opacityLevel;
        color: black;
        font-weight: 700;
        text-decoration: none;
        font-size: $fontSize;

        &.active {
            opacity: 1;
        }
    } 
}